.box{
    background-color: brown;
    color: azure;
    width: 200px;
    height: 200px;
    padding: 20px;
    animation-name: anime_box_1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes anime_box {
    from{
        width: 200px;
    }
    to{
        width: 100px;
        background-color: rgb(229, 25, 25);
        transform: scale(1.4);
        color: blanchedalmond;
    }
}
@keyframes anime_box_1 {
    0%{
        background-color: aquamarine ;
        color: bisque;
        border-radius: 20px;
    }
    50%{
        background-color: rgb(#0045aa, #aa0062, #abb555);
        border-radius: 20%;
    }
    100%{
        background-color: rgb(#97aee1, #caa5bb, #dbe1a5);
        border-radius: 40%;
    }
}