*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cardImg {
  /* position: relative; */
  min-height: 320px;
  border: 2px solid grey;
  padding: 10px;
  overflow: hidden;
}
.productcard .cardtext {
  padding: 20px;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col {
    border: 2px solid black;
  padding: 0 15px;
}
.col-33 {
  width: 33.33%;
}
.cardImg img {
  /* height: 100%; */
  transition: transform 6s ease;
  /* position: absolute;
  top: 50px; */
  /* transform: translateY(36%); */
}
.btn {
  margin: 46px 0;
}
.btn a {
  background-color: blueviolet;
  padding: 10px 20px;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
}
.cardImg img:hover {
  transform: scale(1.2);
}
.cardtext p {
  color: #48474a;
}
