.original{
    border: 2px solid black;
    background-color: aqua;
    width: 100px;
    height: 100px;
    /* transform: translateX(-20px); */
    /* transform: translateY(-30px); */
    /* transform: translate(20px,10px); */
    /* transform: rotate(40deg); */
    /* transform: scale(3.2); */
    /* transform: skewX(12deg); */
    /* transform: matrix(2,0.1,0.6,1.8,10,6); */

}
.transformed{
    border: 2px solid black;
    background-color: azure;
    width: 100px;
    height: 100px;
}
.outerdiv{
    border: 2px solid black;
     height: 200px;
    width: 200px;
    background-color: blue;
    position: relative;
}
.innerdiv{
    border: 2px solid rgb(14, 13, 13);
    background-color: blueviolet;
     height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box{
    background-color: blue;
    color: bisque;
    width: 200px;
    height: 100px;
    transition:transform 4s ease-in 1s, background-color 3s 2s;
}
.box:hover{
    transform: matrix(2, 0.1, 1.2, 1.5, 200,300);
    background-color: aqua;
}
